<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\ConfigurableProduct\Pricing\Price\ConfigurablePriceResolver">
	    <plugin name="price_resolver" type="Shellpea\Hello\Plugin\Pricing\Price\ConfigurablePriceResolverUpdater" />
    </type>

    <type name="Magento\Catalog\Api\Data\ProductInterface">
            <plugin name="get_price" type="Shellpea\Hello\Plugin\ProductInterfaceUpdater" />
    </type>

    <type name="Magento\Theme\Block\Html\Footer">
            <plugin name="footer" type="Shellpea\Hello\Plugin\Footer" />
    </type>

    <type name="Magento\Theme\Block\Html\Breadcrumbs">
            <plugin name="Breadcrumbs" type="Shellpea\Hello\Plugin\Breadcrumbs" />
    </type>
</config>	
