<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
<system>
   <section id="guest_wishlist" translate="label" type="text" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
       <label>Guest Wish List</label>
       <tab>customer</tab>
       <resource>Shellpea_GuestWishlist::guest_wishlist</resource>
       <group id="delete_wishlist" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
           <label>Delete wish list</label>
           <field id="time" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
               <label>How many days has the wish list been inactive</label>
               <comment>The wish list will be deleted if it has been inactive for the specified number of days.</comment>
           </field>
       </group>
   </section>
</system>
</config>
